<mat-toolbar>
    <span class="toolbar">Buscar Profesor</span>
    <button class="btn btn-primary " id="boton" (click)="crear()">Crear Profesor</button>
</mat-toolbar>



<div class="input-field container">
    <input type="text" (keyup)="applyFilter($event.target.value)" id="filter">
    <label for="filter">Busqueda avanzada</label>
</div>


<div class="mat-elevation-z8 col-12">
    <table mat-table [dataSource]="dataSource" matSort >

        <ng-container class="col-2" matColumnDef="ci_profesor">
            <th mat-header-cell *matHeaderCellDef> C.I </th>
            <td mat-cell *matCellDef="let profesor">

                <span>{{profesor.ci_profesor}}</span>

            </td>
        </ng-container>


        <ng-container class="col-2" matColumnDef="n_profesor">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let profesor">

                <span>{{profesor.n_profesor}} </span>

            </td>
        </ng-container>


        <ng-container class="col-2" matColumnDef="a_profesor">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let profesor">

                <span>{{profesor.a_profesor}}</span>

            </td>
        </ng-container>


        <ng-container class="col-2" matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo de esclavo </th>
            <td mat-cell *matCellDef="let profesor">

                <span>{{profesor.tipo}} </span>

            </td>
        </ng-container>


   <!--      <ng-container matColumnDef="aprobado">
            <th mat-header-cell *matHeaderCellDef> Aprobado </th>
            <td mat-cell *matCellDef="let profesor">

                <span>{{profesor.aprobado}} </span>

            </td>
        </ng-container> -->

        <ng-container class="col-2" matColumnDef="boton">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let profesor"> <button (click)="borrarProfesor(profesor.ci_profesor) " mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button> </td>
        </ng-container>

        <ng-container class="col-2" matColumnDef="botonE">
            <th mat-header-cell *matHeaderCellDef> Editar </th>
            <td mat-cell *matCellDef="let profesor">

                <button (click)="info=profesor.ci_profesor" (click)="tomarProfesor(profesor.ci_profesor)" mat-icon-button>
                   <mat-icon>edit</mat-icon>
                </button>

            </td>
        </ng-container>

       <!--  <ng-container matColumnDef="botonI">
            <th mat-header-cell *matHeaderCellDef> Información </th>
            <td mat-cell *matCellDef="let estudiante"> <button (click)="info=estudiante.ci_estudiante" (click)="Informacion()" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button> </td>
        </ng-container> -->



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
</div>



