<mat-card-content>

    <div class="container">
     
        <form class="form-group" [formGroup]="constanciaForm"  (ngSubmit)="Agregar()">

          <div  class="row">  

            <!-- <div class=" col s3">
            <label for="profesor">Cédula Profesor</label>
            <select formControlName="profesor" id="profesor" class="validate form-control">
              <option *ngFor="let profesor of profesores"  [value]="profesor.ci_profesor">{{profesor.ci_profesor}}</option>
            </select>
            <div *ngIf="profesor.invalid && (profesor.dirty || profesor.touched)" class=" red-text  text-darken-4">
              <div *ngIf="profesor.errors.required">
                  La periodo es requerida
              </div>
          </div>
              
          </div> -->

          

          <div class=" col s3">
            <label for="periodo">Periodo</label>
            <select formControlName="periodo" id="periodo"   class="validate form-control">
              <option *ngFor="let periodo of periodoM2"  [value]="periodo.periodo + periodo.inicio">{{periodo.periodo}}          {{periodo.inicio}}</option>
            </select>
            <div *ngIf="periodo.invalid && (periodo.dirty || periodo.touched)" class=" red-text  text-darken-4">
              <div *ngIf="periodo.errors.required">
                  La periodo es requerida
              </div>
          </div>
              
          </div>
          <!-- <div class=" col s3">
            <label for="periodo">Fecha</label>
            <select formControlName="periodo" id="periodo" class="validate form-control">
              <option *ngFor="let periodo of periodoM2"  [value]="periodo.inicio">{{periodo.inicio}}</option>
            </select>
            <div *ngIf="periodo.invalid && (periodo.dirty || periodo.touched)" class=" red-text  text-darken-4">
              <div *ngIf="periodo.errors.required">
                  La periodo es requerida
              </div>
          </div>
              
          </div> -->

        </div>
        
        
        <div class="row">
          <div class=" col s3">
            <label for="carrera">Carrera</label>
            <select (click)="haymateria()" formControlName="carrera" id="carrera" class="validate form-control">
              <option *ngFor="let carrera of carreras"  [value]="carrera.codigo_c">{{carrera.carrera}}</option>
            </select>
            <div *ngIf="carrera.invalid && (carrera.dirty || carrera.touched)" class=" red-text  text-darken-4">
              <div *ngIf="carrera.errors.required">
                  La carrera es requerida
              </div>
          </div>
          </div>


          <div class="col s3">
                <div *ngIf="carreraSelect == false">
              
                  <label for="materia">Materia</label>
                  <select formControlName="materia" disabled id="materia" class="validate form-control">
                    <option *ngFor="let materia of materias2" [value]="materia.codigo_materia">{{materia.nombre_mat}}</option>
                  </select>
                  <div *ngIf="materia.invalid && (materia.dirty || materia.touched)" class=" red-text  text-darken-4">
                    <div *ngIf="materia.errors.required">
                        El materia es requerido
                    </div>
                </div>
                </div>




                <div *ngIf="carreraSelect == true">
                  <label for="materia">Materia</label>
                  <select formControlName="materia"  id="materia" class="validate form-control">
                    <option *ngFor="let materia of materias2" [value]="materia.codigo_materia">{{materia.nombre_mat}}</option>
                  </select>
                  <!-- <label for="horasT">{{materia.horas_teo + materia.horas_pra + materia.horas_lab}}</label>
                  <input type="text" name="horasT" id="horasT" class="form-control validate"> -->
                  <div *ngIf="materia.invalid && (materia.dirty || materia.touched)" class=" red-text  text-darken-4">
                    <div *ngIf="materia.errors.required">
                        La materia es requerida
                    </div>
                </div>
              
          </div>
          </div>

<!-- <div class="col s3">
  <label for="materia">Horas Semestre</label>
  <select formControlName="materia"  disabled id="materia" class=" form-control">
    <option *ngFor="let materia of materias2" [value]="materia.horas_teo + materia.horas_pra + materia.horas_lab "></option>
  </select>
</div> -->

        </div>    


        <button class="btn waves-effect waves-light  light-blue darken-4" type="submit" [disabled]="!constanciaForm.valid">Agregar Labor
          <i class="fa fa-floppy-o fa-2x " aria-hidden="true"></i>
          </button>


          </form>
        
            </div>
 

</mat-card-content>













<div class="container">
  

    <table mat-table [dataSource]="dataSource" matSort>
  
       <!--  <ng-container matColumnDef="ci_profesor">
            <th mat-header-cell *matHeaderCellDef> Cédula </th>
            <td mat-cell *matCellDef="let constancia">
  
                <span>{{constancia.ci_profesor}}</span>
  
            </td>
        </ng-container> -->
  
        <ng-container matColumnDef="periodo">
            <th mat-header-cell *matHeaderCellDef> Periodo </th>
            <td mat-cell *matCellDef="let constancia">
  
                <span>{{constancia.periodo}}</span>
  
            </td>
        </ng-container>
  
        <ng-container matColumnDef="carrera">
            <th mat-header-cell *matHeaderCellDef> Carrera </th>
            <td mat-cell *matCellDef="let constancia">
  
                <span>{{constancia.carrera}}</span>
  
            </td>
        </ng-container>
  
        <ng-container matColumnDef="materia">
          <th mat-header-cell *matHeaderCellDef> Materia </th>
          <td mat-cell *matCellDef="let constancia">
  
              <span>{{constancia.materia}}</span>
  
          </td>
      </ng-container>
  
      <ng-container matColumnDef="horasT">
        <th mat-header-cell *matHeaderCellDef> Horas Semestre </th>
        <td mat-cell *matCellDef="let constancia">
  
            <span>{{constancia.horasT}}</span>
  
        </td>
    </ng-container>
  
  
        <ng-container matColumnDef="boton">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let constancia">
                <div>
                    <button (click)="eliminarConstancia(constancia.ci_profesor) " mat-icon-button>
  
      <mat-icon>delete</mat-icon>
    </button>
                </div>
            </td>
  
        </ng-container>
  
        <ng-container matColumnDef="botonE">
            <th mat-header-cell *matHeaderCellDef> Editar </th>
            <td mat-cell *matCellDef="let constancia">
                <button (click)="info=constancia.codigo_c" (click)="editarconstancia(constancia.codigo_c) " mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button> </td>
        </ng-container>
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  
  
  </div>